.App {
  display: flex;

  &_leftSide {
    width: 30%;
  }
  &_rightSide {
    margin-top: 40px;

    width: 70%;
  }
  &_cards {
    display: flex;
    flex-wrap: wrap;
  }

  & .rating-wrapper {
    display: flex;
    justify-content: center;
  }

  &_rightSide__top {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  &_rightSide__top__right {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 130px;
  }
}